# Common commands
alias ls='ls --color=auto'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alhF'
alias d='cd'
alias puts='echo'
alias p='ipython'
alias py='python'
alias r='pry'
alias jr='jpry'
alias rb='ruby'
alias jrb='jruby'
alias c='clear'
alias j='jsc'
alias ml='matlab'

# Go to the higher directory
alias up='cd ..'
alias u='up'

# Go to the previous directory
alias back='cd $OLDPWD'
alias b='back'

# Open the current directory
alias o='open .'

# Always make intermediate directories
alias mkdir='mkdir -p'

# Always ask
alias rm='rm -i'

# Always output colors
alias diff='diff --color=always'

# Some shortcuts for longer commands
alias jsc='node'

# Compound commands
alias reload='echo -n "Reloading..."; source ~/.zshrc >/dev/null; echo " done!"'
alias pubkey='cat ~/.ssh/id_rsa.pub'

# git aliases
alias pull='git pull'
alias push='git push'
alias commit='git commit -a'
alias branch='git branch'
alias rebase='git rebase'
alias add='git add'
