[submodule ".emacs.d/lisp/auctex"]
	path = .emacs.d/lisp/auctex
	url = https://github.com/jwiegley/auctex.git
[submodule ".emacs.d/lisp/auto-complete"]
	path = .emacs.d/lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/lisp/emacs-rails-reloaded"]
	path = .emacs.d/lisp/emacs-rails-reloaded
	url = https://github.com/dima-exe/emacs-rails-reloaded.git
[submodule ".emacs.d/lisp/exec-path-from-shell"]
	path = .emacs.d/lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule ".emacs.d/lisp/git-emacs"]
	path = .emacs.d/lisp/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/lisp/markdown-mode"]
	path = .emacs.d/lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule ".emacs.d/lisp/nxhtml"]
	path = .emacs.d/lisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule ".emacs.d/lisp/oblivion-emacs"]
	path = .emacs.d/lisp/oblivion-emacs
	url = https://github.com/pomeo/oblivion-emacs.git
[submodule ".emacs.d/lisp/ruby-electric"]
	path = .emacs.d/lisp/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule ".emacs.d/lisp/sunrise-commander"]
	path = .emacs.d/lisp/sunrise-commander
	url = https://github.com/escherdragon/sunrise-commander.git
[submodule ".emacs.d/lisp/wrap-region"]
	path = .emacs.d/lisp/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule ".emacs.d/lisp/popup-el"]
	path = .emacs.d/lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/lisp/emacs-minimap"]
	path = .emacs.d/lisp/emacs-minimap
	url = https://github.com/dustinlacewell/emacs-minimap.git
[submodule ".emacs.d/lisp/coffee-mode"]
	path = .emacs.d/lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".vim/bundle/vim-aldmeris"]
	path = .vim/bundle/vim-aldmeris
	url = https://github.com/veloce/vim-aldmeris.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-tags"]
	path = .vim/bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule ".vim/bundle/vim-clang-complete"]
	path = .vim/bundle/vim-clang-complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-tabular"]
	path = .vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-vterm"]
	path = .vim/bundle/vim-vterm
	url = https://github.com/sollidsnake/vterm.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/bundle/vim-veloth"]
	path = .vim/bundle/vim-veloth
	url = https://github.com/numinit/vim-veloth.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-tmuxline"]
	path = .vim/bundle/vim-tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
